* {
  box-sizing: border-box; }

body {
  margin: 0 10%; }

h1, h2 {
  font-family: Garamond, sans-serif;
  text-align: center;
  color: purple; }

h1 {
  font-size: 50px; }

p {
  font-family: helvetica;
  font-size: 14px;
  line-height: 1.75; }

main {
  border-top: 1px solid purple;
  border-bottom: 1px solid purple; }

section {
  margin-bottom: 20px; }

.intro {
  padding: 0 50px;
  font-size: 20px; }

.project-images, .project-description {
  width: calc(49% - 2px);
  display: inline-block;
  vertical-align: middle; }
  .project-images:first-child, .project-description:first-child {
    margin-right: 2%; }

.project-images ul {
  margin: 0;
  padding: 0;
  position: relative; }
  .project-images ul li {
    list-style: none; }
    .project-images ul li:not(:first-child) {
      position: absolute;
      top: 0;
      left: 0; }
  .project-images ul img {
    max-width: 100%; }
